# encoding: UTF-8

  <% content_for :proyectos do %>
   ''
  <% end %>

<%= javascript_tag "var vpc='"+session[:pc].to_s+"'" %>
<%= javascript_tag "var v='"+session[:mr].to_s+"'" %>
<%= javascript_tag "var st='"+session[:st].to_s+"'" %>
<%= javascript_tag "var rs='"+session[:rs].to_s+"'" %>

<script>
  <%= 'function getSta(){ var sta = new Array();'.to_s %>
  <% list_status.each do |d| %>
    <%=  'sta['.to_s+d.id.to_s +  "]= '".to_s+d.name.to_s+"';".to_s %>
  <% end %>
  <%= 'return sta;}'.to_s %>
</script>

<%= javascript_tag "$(document).ready(function () {
  sta=getSta();
  $('#span'+sta[st]).addClass('selectedsecondmenu');

  if (v=='yes')  $('#puppy_gooddog').attr('checked', true);
  if (v=='no')  $('#puppy_gooddog').attr('checked', false);  
  if (v=='yes') $('#spanmr').addClass('selectedsecondmenu');
  if (v=='no')  $('#spanmr').removeClass('selectedsecondmenu'); 	
   		
  if (vpc=='yes')  $('#pcolab_pcolab').attr('checked', true);
  if (vpc=='no')  $('#pcolab_pcolab').attr('checked', false); 
  if (vpc=='yes') $('#spanpcolab').addClass('selectedsecondmenu'); 
  if (vpc=='no') $('#spanpcolab').removeClass('selectedsecondmenu');	 	 		
});"
%>

<%= javascript_tag "$('#puppy_gooddog').live('click', function() {

  if ($('##puppy_gooddog:checked').is(':checked')) {	
    $('#puppy_gooddog').val('yes');
    $('puppy[gooddog]').val('yes');
    $('span #puppy_gooddog').attr('checked', true);
    $('#spanmr').addClass('selectedsecondmenu');	 
     /*window.location.href = '/proyectos/status/'+st+'/resource/'+rs;*/   	 
  }else{	 	
    $('#puppy_gooddog').val('no');	
    $('#puppy_gooddog').attr('checked', false);
    $('puppy[gooddog]').val('no');
    $('#spanmr').removeClass('selectedsecondmenu'); 
     /*window.location.href = '/proyectos/status/'+st+'/resource/'+rs;*/ 
  }

  var m=$('#puppy_gooddog').val();
  var jqxhr= $.post('/proyectos/setg', { main: m, en: 'main' }, function() {
    /*alert('success');*/
  })
  .success(function() {  window.location.href = '/proyectos/status/'+st+'/resource/'+rs; })
  .error(function() { alert('problemas en la red, no ha sido posible realizar la actualización'); })
  .complete(function() { /*alert('complete');*/ });
  jqxhr.complete(function(){ /*alert('second complete');*/ });  
 });"
 %>

<%= javascript_tag "$('#pcolab_pcolab').live('click', function() {

  if ($('#pcolab_pcolab:checked').is(':checked')) {	
    $('#pcolab_pcolab').val('yes');
    $('pcolab[pcolab]').val('yes');
    $('#pcolab_pcolab').attr('checked', true);
    $('#spanpcolab').addClass('selectedsecondmenu');
    /*window.location.href = '/proyectos/status/'+st+'/resource/'+rs;*/ 
  }else{	 	
    $('#pcolab_pcolab').val('no');	
    $('#pcolab_pcolab').attr('checked', false);
    $('pcolab[pcolab]').val('no');
    $('#spanpcolab').removeClass('selectedsecondmenu');
    /*window.location.href = '/proyectos/status/'+st+'/resource/'+rs;*/ 	
  }

  var mpc=$('#pcolab_pcolab').val();
  var jqxhr= $.post('/proyectos/setg', { pcolab: mpc , en: 'pcolab' }, function() {
  /*alert('success');*/
  })
  .success(function() { window.location.href = '/proyectos/status/'+st+'/resource/'+rs;  })
  .error(function() { /*alert('error');*/ })
  .complete(function() { /*alert('complete');*/ });
  jqxhr.complete(function(){ /*alert('second complete');*/ });  
  });"

 %>
 
<div class="breadCrumbsProjects">
  <% list_status.each do |k,v| %>
    <% names= k.name.to_s if !k.name.nil? %>
    <% namesid= k.id.to_s if !k.id.nil? %>
    <% names= 'sin_definir' if k.name.nil? %>
    <span id="span<%=names.to_s%>"><%= link_to names.to_s ,  '/proyectos/status/'+namesid.to_s+"/resource/#{current_user.id}" %></span>
  <% end %>
  || <%= check_box("pcolab", "pcolab", {}, "yes", "no") %> <span id="spanpcolab"> <%= '(Participo)'  %>  </span> |
     <%= check_box("puppy", "gooddog", {}, "yes", "no") %> <span id="spanmr"> <%= '(soy responsable)'  %> </span>|   
</div>



<div id="jqgrid_contain">
  <%=  raw jqgrid("Listado de proyectos", "proyecto", "/proyectos" , 
  [
    { :field => "id", :label => "id" , :hidden => true  },
    { :field => "title", :label => "título",  :editable => true, :width => 200   },
    { :field => "mainresource"  ,   :label => "Responsable", :width => 200, :align => 'center',  :editable => true, :edittype => "select",
      :editoptions => { :value => user_all_h  }  },
    { :field => "status", :label => "Estado", :width => 50 ,:align => 'center' , :editable => true, :edittype => "select", :editoptions => { :value => @status  }  },
    { :field => "comments", :label => "comentarios", :type => "textarea", :align => "left" , :edittype => "textarea", :editable => false, :width => "500", :height => '400' },
    { :field => "averange", :label => "%", :width => 50 , :align => 'center' , :editable => true },
    { :field => "priority", :label => "Prioridad", :width => 50,:align => 'center',  :editable => true, :edittype => "select", :subgrid  => true , :editoptions => { :value => @priorityselect  }} 
 ],
    { :selection_handler => "sueltatiny", :treegrid => true,  :autowidth=>true, :autoheight=>true,  :navButtonAdd => 'nuevoboton', :add => true, :edit => true, :inline_edit => false, 
      :edit_url => "/proyectos/post_data"   , :master_details => true, :details_url => "/proyectos/getresources" , :details_caption => "Recursos" ,        
      :direct_selection => true, 
      :subgrid => { :url => "/proyectos/getresources",  
                    :edit => true,
                    :autowidth=>true,  :add => true,  :inline_edit => true, :delete => true, :edit_url => "/proyectos/editresources",  
                    :columns => [
                                  { :field => "id", :label => "ID", :width => 35, :resizable => false, :hidden => true  },
                                  { :field => "resources", :label => "Recurso", :width => 500, :align => 'center',  :editable => true, 
                                    :edittype => "select", :editoptions => { :value => @users  } }
                                ]
                  }
    }
  )
%>

</div><!-- jqgridcontain -->


<div id="proyecto_contain" style="display:none; top:30px; background-color:red; widht:500px; height:600px;" >
  <span style="float:left">
    <span style="float:right;" onClick='$("#proyecto_contain").attr("style","display:none")' >XCerrar</span>
    <input type="hidden" name="idnow" id="idnow" value="0">
    <table style="width:100%;">
      <tbody>
        <tr>
          <th>
            <div style="width: 1268px;" id="gview_proyecto" class="ui-jqgrid-view">
              <div class="ui-jqgrid-titlebar ui-widget-header ui-corner-top ui-helper-clearfix">
                <a style="right: 0px;" class="ui-jqgrid-titlebar-close HeaderButton" role="link" href="javascript:void(0)">
                  <span class="ui-icon ui-icon-circle-triangle-n"></span></a><span class="ui-jqgrid-title">Listado de proyectos</span>
              </div>
          </th>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th colspan="3" style="columnMinWidth:3;"> 
            <textarea  class="FormElement" multiline="true" role="textbox" rows="2" cols="20" name="comments" id="comments"></textarea>	
          </th><th</th><th></th>
        </tr>         
      </tbody>
    </table>
    </span>
	  <span style="float:left">
	    <div id="imgcontain" style="position:relative; top:0px;"></div>
	  </span>
</div>		


<script>

tinyMCE.init({
  mode : "textareas",
  plugins : "tablegrid,autolink,lists,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",    
  width : "100%", 
  theme : "advanced",
  theme_advanced_buttons1 : "msave,imageselect,|,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
  theme_advanced_buttons2 : "tablegrid,|,row_props,cell_props,|,row_before,row_after,delete_row,|,col_before,col_after,delete_col,|,split_cells,merge_cells,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
  theme_advanced_buttons3 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
  theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,spellchecker,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,blockquote,pagebreak,|,insertfile,insertimage",
  height : "600",
  file_browser_callback : 'myFileBrowser',
  //theme_advanced_buttons1 : "example,imageselect,.....",
  dialog_type : "modal",
  setup : function(ed) {
  // Register example button
  ed.addButton('msave', {
    title : 'Guardar',
    image : 'http://<%=request.host_with_port%>/javascripts/tiny_mce/plugins/msave/img/msave.gif',  
    dialog_type : "modal",
    onclick : function() {
      var answer=true;
      if (answer){
        ed.windowManager.confirm('El comentario, va a cambiar. ¿Estás seguro? ' , function(s) {
          if (s)
            var content = tinyMCE.get('comments').getContent();								
            $.post("<%= udateFromTinymce_proyectos_path %>",
            { id: $('#idnow').val(), comments: content  },
            function(data){           
              var idn= $('#idnow').val();
              $("#proyecto").trigger("reloadGrid");                
              jQuery('#proyecto #'+idn).attr("style","background-color:red");
              $("#proyecto_contain").attr("style","display:none");
              $("#imgcontain").attr("style","display:block");
            }
          );
        });
      }        
    }
  })

  ed.addButton('imageselect', {
    title : 'imageselect.desc',
    image : 'http://<%=request.host_with_port%>/images/tinymce/icons/realmedia.gif',
    //dialog_type : "modal",
    onclick : function() {
      var answer=true;
      var content = $("#imgcontain");
      var contenthtml = $("#imgcontain").html();	  
      if (contenthtml.length > 0)  $("#imgcontain").empty();
      if (contenthtml.length == 0) {		  	
        content = $("<div></div>").attr("id", "img_content");
        $("#imgcontain").after(content);	
      }

      <% pictures_all.each do |picture| %>
        <% e=  'setImg('+"'".to_s+picture.file.to_s+"'".to_s+')'   %>
        var sr='';
        sr='http://'+'<%=request.host_with_port.to_s+picture.file.to_s %>';
        $('#imgcontain').prepend('<img id="img<%= picture.id.to_s %>" style="" src="" onClick=""   />');

        $("#imgcontain #img<%=picture.id.to_s %>").attr("src",sr);
        $("#imgcontain #img<%=picture.id.to_s %>").attr("onClick","setImg("+"'"+sr+"'"+")");
        $("#imgcontain #img<%=picture.id.to_s %>").attr("style","width:120px; height:200px");

        <% image_tag(picture.file_url(:thumb)) if picture.file.present? %>
      <% end %>      
         
    }
  });
   } 
});


function sueltatiny(id){
  var ap=new Array(); 
  <%= escape_javascript("ap=1") %> 

  var to=''; 
  var sal='';
  var salTitle='';
  var tableRow = $('table tr').filter(function() {	
    if  ($(this).attr("id")==id){
      var p = $(this);
      to = p.offset();	
      sal=$(this).find("td").eq(5).html();
      salTitle=$(this).find("td").eq(2).html();
      $('#idnow').val(id);	
      return false;
    } 
  }).closest("tr");

  tinyMCE.activeEditor.setContent(sal);
  $(".ui-jqgrid-title").html('Modo Edición:      '+salTitle);
   
  $("#proyecto_contain").attr("style","display:block; position:absolute;  top:" + (to.top-50)  +"px;");		
}

function myFileBrowser (field_name, url, type, win) {
  var cmsURL = window.location.pathname;     
  var searchString = window.location.search; 
  if (searchString.length < 1) {
    searchString = "?";
  }
  tinyMCE.openWindow({
    file : cmsURL + searchString + "&type=" + type, 
    title : "File Browser",
    width : 420,  
    height : 400,
    close_previous : "no"
    }, {
    window : win,
    input : field_name,
    resizable : "yes",
    inline : "yes",  
    editor_id : tinyMCE.selectedInstance.editorId
    });
    return false;
  }

</script>

<script>
function setImg(src){		
  tinyMCE.activeEditor.setContent('<img   src="'+src+'">'+tinyMCE.activeEditor.getContent());
}
</script>
