<%= form_for(@confirmationuser) do |f| %>
  <% if @confirmationuser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@confirmationuser.errors.count, "error") %> prohibited this confirmationuser from being saved:</h2>

      <ul>
      <% @confirmationuser.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :confirmation_token %><br />
    <%= f.text_field :confirmation_token %>
  </div>
  <div class="field">
    <%= f.label :confirmed_at %><br />
    <%= f.date_select :confirmed_at %>
  </div>
  <div class="field">
    <%= f.label :confirmation_sent_at %><br />
    <%= f.date_select :confirmation_sent_at %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
