<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @futureproyectosaction.title %>
</p>

<p>
  <b>Comments:</b>
  <%= @futureproyectosaction.comments %>
</p>

<p>
  <b>Resources:</b>
  <%= @futureproyectosaction.resources %>
</p>


<%= link_to 'Edit', edit_futureproyectosaction_path(@futureproyectosaction) %> |
<%= link_to 'Back', futureproyectosactions_path %>
