<h1>Listing historics</h1>

<table>
  <tr>
    <th>Proyecto</th>
    <th>Document version</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @historics.each do |historic| %>
  <tr>
    <td><%= historic.proyecto %></td>
    <td><%= historic.document_version %></td>
    <td><%= link_to 'Show', historic %></td>
    <td><%= link_to 'Edit', edit_historic_path(historic) %></td>
    <td><%= link_to 'Destroy', historic, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Historic', new_historic_path %>
