<%= form_for(@cudidoc) do |f| %>
  <% if @cudidoc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cudidoc.errors.count, "error") %> prohibited this cudidoc from being saved:</h2>

      <ul>
      <% @cudidoc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :typedoc %><br />
    <%= f.text_field :typedoc %>
  </div>
  <div class="field">
    <%= f.label :namefile %><br />
    <%= f.text_field :namefile %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
