<%= form_for(@proyectostatus) do |f| %>
  <% if @proyectostatus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proyectostatus.errors.count, "error") %> prohibited this proyectostatus from being saved:</h2>

      <ul>
      <% @proyectostatus.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
